<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store</title>
    <link rel="stylesheet" th:href="@{/css/books.css}">
</head>
<body>
<section>
    <nav>

        <div class="logo">
            <img th:src="@{/image/logo.png}" alt="Logo">
        </div>

        <ul>
            <li><a href="/" th:utext="#{home}"></a></li>
            <li><a href="about" th:utext="#{about}"></a></li>
            <li th:if="${!#authorization.expression('isAuthenticated()')}">
                <a href="register" th:utext="#{register}"></a>
            </li>
            <li th:if="${!#authorization.expression('isAuthenticated()')}">
                <a href="/login" th:text="#{login}"></a>
            </li>
            <li th:if="${#authorization.expression('hasRole(''EMPLOYEE'')')}">
                <a href="/employee">Employee Dashboard</a>
            </li>
            <li th:if="${#authorization.expression('hasRole(''CLIENT'')')}">
                <a href="/client">Client Dashboard</a>
            </li>

            <li><a href="books" th:utext="#{books}"></a></li>
            <li><a href="/account"th:utext="#{account}">Account</a></li>
            <li>
                <a href="?lang=en" th:utext="#{lang.en}">EN</a> | <a href="?lang=uk" th:utext="#{lang.uk}">УКР</a>
            </li>

        </ul>

    </nav>
</section>

<div class="book-container">
    <h1 th:text="#{available.books}">Available Books</h1>
    <div class="books-grid">
        <div class="book-card" th:each="book : ${books}">
            <h3 th:text="${book.name}">Book Title</h3>
            <p><strong th:text="#{book.author}">Author:</strong> <span th:text="${book.author}"></span></p>
            <p><strong th:text="#{book.genre}">Genre:</strong> <span th:text="${book.genre}"></span></p>
            <p><strong th:text="#{book.ageGroup}">Age Group:</strong> <span th:text="${book.ageGroup}"></span></p>
            <p><strong th:text="#{book.price}">Price:</strong> <span th:text="#{currencySymbol} + ${book.price}"></span></p>
            <p><strong th:text="#{book.publicationDate}">Publication Date:</strong> <span th:text="${book.publicationDate}"></span></p>
            <p><strong th:text="#{book.pages}">Pages:</strong> <span th:text="${book.pages}"></span></p>
            <p><strong th:text="#{book.language}">Language:</strong> <span th:text="${book.language}"></span></p>
            <p><strong th:text="#{book.characteristics}">Characteristics:</strong> <span th:text="${book.characteristics}"></span></p>
            <p><strong th:text="#{book.description}">Description:</strong> <span th:text="${book.description}"></span></p>
        </div>
    </div>
</div>


</body>
</html>